.jq-template.awk
8.0/alpine3.16/cli/docker-php-entrypoint
8.0/alpine3.16/cli/docker-php-ext-configure
8.0/alpine3.16/cli/docker-php-ext-enable
8.0/alpine3.16/cli/docker-php-ext-install
8.0/alpine3.16/cli/docker-php-source
8.0/alpine3.16/cli/Dockerfile
8.0/alpine3.16/fpm/docker-php-entrypoint
8.0/alpine3.16/fpm/docker-php-ext-configure
8.0/alpine3.16/fpm/docker-php-ext-enable
8.0/alpine3.16/fpm/docker-php-ext-install
8.0/alpine3.16/fpm/docker-php-source
8.0/alpine3.16/fpm/Dockerfile
8.0/alpine3.16/zts/docker-php-entrypoint
8.0/alpine3.16/zts/docker-php-ext-configure
8.0/alpine3.16/zts/docker-php-ext-enable
8.0/alpine3.16/zts/docker-php-ext-install
8.0/alpine3.16/zts/docker-php-source
8.0/alpine3.16/zts/Dockerfile
8.0/bullseye/apache/apache2-foreground
8.0/bullseye/apache/docker-php-entrypoint
8.0/bullseye/apache/docker-php-ext-configure
8.0/bullseye/apache/docker-php-ext-enable
8.0/bullseye/apache/docker-php-ext-install
8.0/bullseye/apache/docker-php-source
8.0/bullseye/apache/Dockerfile
8.0/bullseye/cli/docker-php-entrypoint
8.0/bullseye/cli/docker-php-ext-configure
8.0/bullseye/cli/docker-php-ext-enable
8.0/bullseye/cli/docker-php-ext-install
8.0/bullseye/cli/docker-php-source
8.0/bullseye/cli/Dockerfile
8.0/bullseye/fpm/docker-php-entrypoint
8.0/bullseye/fpm/docker-php-ext-configure
8.0/bullseye/fpm/docker-php-ext-enable
8.0/bullseye/fpm/docker-php-ext-install
8.0/bullseye/fpm/docker-php-source
8.0/bullseye/fpm/Dockerfile
8.0/bullseye/zts/docker-php-entrypoint
8.0/bullseye/zts/docker-php-ext-configure
8.0/bullseye/zts/docker-php-ext-enable
8.0/bullseye/zts/docker-php-ext-install
8.0/bullseye/zts/docker-php-source
8.0/bullseye/zts/Dockerfile
8.0/buster/apache/apache2-foreground
8.0/buster/apache/docker-php-entrypoint
8.0/buster/apache/docker-php-ext-configure
8.0/buster/apache/docker-php-ext-enable
8.0/buster/apache/docker-php-ext-install
8.0/buster/apache/docker-php-source
8.0/buster/apache/Dockerfile
8.0/buster/cli/docker-php-entrypoint
8.0/buster/cli/docker-php-ext-configure
8.0/buster/cli/docker-php-ext-enable
8.0/buster/cli/docker-php-ext-install
8.0/buster/cli/docker-php-source
8.0/buster/cli/Dockerfile
8.0/buster/fpm/docker-php-entrypoint
8.0/buster/fpm/docker-php-ext-configure
8.0/buster/fpm/docker-php-ext-enable
8.0/buster/fpm/docker-php-ext-install
8.0/buster/fpm/docker-php-source
8.0/buster/fpm/Dockerfile
8.0/buster/zts/docker-php-entrypoint
8.0/buster/zts/docker-php-ext-configure
8.0/buster/zts/docker-php-ext-enable
8.0/buster/zts/docker-php-ext-install
8.0/buster/zts/docker-php-source
8.0/buster/zts/Dockerfile
8.1-rc/alpine3.16/cli/docker-php-entrypoint
8.1-rc/alpine3.16/cli/docker-php-ext-configure
8.1-rc/alpine3.16/cli/docker-php-ext-enable
8.1-rc/alpine3.16/cli/docker-php-ext-install
8.1-rc/alpine3.16/cli/docker-php-source
8.1-rc/alpine3.16/cli/Dockerfile
8.1-rc/alpine3.16/fpm/docker-php-entrypoint
8.1-rc/alpine3.16/fpm/docker-php-ext-configure
8.1-rc/alpine3.16/fpm/docker-php-ext-enable
8.1-rc/alpine3.16/fpm/docker-php-ext-install
8.1-rc/alpine3.16/fpm/docker-php-source
8.1-rc/alpine3.16/fpm/Dockerfile
8.1-rc/alpine3.16/zts/docker-php-entrypoint
8.1-rc/alpine3.16/zts/docker-php-ext-configure
8.1-rc/alpine3.16/zts/docker-php-ext-enable
8.1-rc/alpine3.16/zts/docker-php-ext-install
8.1-rc/alpine3.16/zts/docker-php-source
8.1-rc/alpine3.16/zts/Dockerfile
8.1-rc/alpine3.17/cli/docker-php-entrypoint
8.1-rc/alpine3.17/cli/docker-php-ext-configure
8.1-rc/alpine3.17/cli/docker-php-ext-enable
8.1-rc/alpine3.17/cli/docker-php-ext-install
8.1-rc/alpine3.17/cli/docker-php-source
8.1-rc/alpine3.17/cli/Dockerfile
8.1-rc/alpine3.17/fpm/docker-php-entrypoint
8.1-rc/alpine3.17/fpm/docker-php-ext-configure
8.1-rc/alpine3.17/fpm/docker-php-ext-enable
8.1-rc/alpine3.17/fpm/docker-php-ext-install
8.1-rc/alpine3.17/fpm/docker-php-source
8.1-rc/alpine3.17/fpm/Dockerfile
8.1-rc/alpine3.17/zts/docker-php-entrypoint
8.1-rc/alpine3.17/zts/docker-php-ext-configure
8.1-rc/alpine3.17/zts/docker-php-ext-enable
8.1-rc/alpine3.17/zts/docker-php-ext-install
8.1-rc/alpine3.17/zts/docker-php-source
8.1-rc/alpine3.17/zts/Dockerfile
8.1-rc/alpine3.18/cli/docker-php-entrypoint
8.1-rc/alpine3.18/cli/docker-php-ext-configure
8.1-rc/alpine3.18/cli/docker-php-ext-enable
8.1-rc/alpine3.18/cli/docker-php-ext-install
8.1-rc/alpine3.18/cli/docker-php-source
8.1-rc/alpine3.18/cli/Dockerfile
8.1-rc/alpine3.18/fpm/docker-php-entrypoint
8.1-rc/alpine3.18/fpm/docker-php-ext-configure
8.1-rc/alpine3.18/fpm/docker-php-ext-enable
8.1-rc/alpine3.18/fpm/docker-php-ext-install
8.1-rc/alpine3.18/fpm/docker-php-source
8.1-rc/alpine3.18/fpm/Dockerfile
8.1-rc/alpine3.18/zts/docker-php-entrypoint
8.1-rc/alpine3.18/zts/docker-php-ext-configure
8.1-rc/alpine3.18/zts/docker-php-ext-enable
8.1-rc/alpine3.18/zts/docker-php-ext-install
8.1-rc/alpine3.18/zts/docker-php-source
8.1-rc/alpine3.18/zts/Dockerfile
8.1-rc/bookworm/apache/apache2-foreground
8.1-rc/bookworm/apache/docker-php-entrypoint
8.1-rc/bookworm/apache/docker-php-ext-configure
8.1-rc/bookworm/apache/docker-php-ext-enable
8.1-rc/bookworm/apache/docker-php-ext-install
8.1-rc/bookworm/apache/docker-php-source
8.1-rc/bookworm/apache/Dockerfile
8.1-rc/bookworm/cli/docker-php-entrypoint
8.1-rc/bookworm/cli/docker-php-ext-configure
8.1-rc/bookworm/cli/docker-php-ext-enable
8.1-rc/bookworm/cli/docker-php-ext-install
8.1-rc/bookworm/cli/docker-php-source
8.1-rc/bookworm/cli/Dockerfile
8.1-rc/bookworm/fpm/docker-php-entrypoint
8.1-rc/bookworm/fpm/docker-php-ext-configure
8.1-rc/bookworm/fpm/docker-php-ext-enable
8.1-rc/bookworm/fpm/docker-php-ext-install
8.1-rc/bookworm/fpm/docker-php-source
8.1-rc/bookworm/fpm/Dockerfile
8.1-rc/bookworm/zts/docker-php-entrypoint
8.1-rc/bookworm/zts/docker-php-ext-configure
8.1-rc/bookworm/zts/docker-php-ext-enable
8.1-rc/bookworm/zts/docker-php-ext-install
8.1-rc/bookworm/zts/docker-php-source
8.1-rc/bookworm/zts/Dockerfile
8.1-rc/bullseye/apache/apache2-foreground
8.1-rc/bullseye/apache/docker-php-entrypoint
8.1-rc/bullseye/apache/docker-php-ext-configure
8.1-rc/bullseye/apache/docker-php-ext-enable
8.1-rc/bullseye/apache/docker-php-ext-install
8.1-rc/bullseye/apache/docker-php-source
8.1-rc/bullseye/apache/Dockerfile
8.1-rc/bullseye/cli/docker-php-entrypoint
8.1-rc/bullseye/cli/docker-php-ext-configure
8.1-rc/bullseye/cli/docker-php-ext-enable
8.1-rc/bullseye/cli/docker-php-ext-install
8.1-rc/bullseye/cli/docker-php-source
8.1-rc/bullseye/cli/Dockerfile
8.1-rc/bullseye/fpm/docker-php-entrypoint
8.1-rc/bullseye/fpm/docker-php-ext-configure
8.1-rc/bullseye/fpm/docker-php-ext-enable
8.1-rc/bullseye/fpm/docker-php-ext-install
8.1-rc/bullseye/fpm/docker-php-source
8.1-rc/bullseye/fpm/Dockerfile
8.1-rc/bullseye/zts/docker-php-entrypoint
8.1-rc/bullseye/zts/docker-php-ext-configure
8.1-rc/bullseye/zts/docker-php-ext-enable
8.1-rc/bullseye/zts/docker-php-ext-install
8.1-rc/bullseye/zts/docker-php-source
8.1-rc/bullseye/zts/Dockerfile
8.1/alpine3.16/cli/docker-php-entrypoint
8.1/alpine3.16/cli/docker-php-ext-configure
8.1/alpine3.16/cli/docker-php-ext-enable
8.1/alpine3.16/cli/docker-php-ext-install
8.1/alpine3.16/cli/docker-php-source
8.1/alpine3.16/cli/Dockerfile
8.1/alpine3.16/fpm/docker-php-entrypoint
8.1/alpine3.16/fpm/docker-php-ext-configure
8.1/alpine3.16/fpm/docker-php-ext-enable
8.1/alpine3.16/fpm/docker-php-ext-install
8.1/alpine3.16/fpm/docker-php-source
8.1/alpine3.16/fpm/Dockerfile
8.1/alpine3.16/zts/docker-php-entrypoint
8.1/alpine3.16/zts/docker-php-ext-configure
8.1/alpine3.16/zts/docker-php-ext-enable
8.1/alpine3.16/zts/docker-php-ext-install
8.1/alpine3.16/zts/docker-php-source
8.1/alpine3.16/zts/Dockerfile
8.1/alpine3.17/cli/docker-php-entrypoint
8.1/alpine3.17/cli/docker-php-ext-configure
8.1/alpine3.17/cli/docker-php-ext-enable
8.1/alpine3.17/cli/docker-php-ext-install
8.1/alpine3.17/cli/docker-php-source
8.1/alpine3.17/cli/Dockerfile
8.1/alpine3.17/fpm/docker-php-entrypoint
8.1/alpine3.17/fpm/docker-php-ext-configure
8.1/alpine3.17/fpm/docker-php-ext-enable
8.1/alpine3.17/fpm/docker-php-ext-install
8.1/alpine3.17/fpm/docker-php-source
8.1/alpine3.17/fpm/Dockerfile
8.1/alpine3.17/zts/docker-php-entrypoint
8.1/alpine3.17/zts/docker-php-ext-configure
8.1/alpine3.17/zts/docker-php-ext-enable
8.1/alpine3.17/zts/docker-php-ext-install
8.1/alpine3.17/zts/docker-php-source
8.1/alpine3.17/zts/Dockerfile
8.1/alpine3.18/cli/docker-php-entrypoint
8.1/alpine3.18/cli/docker-php-ext-configure
8.1/alpine3.18/cli/docker-php-ext-enable
8.1/alpine3.18/cli/docker-php-ext-install
8.1/alpine3.18/cli/docker-php-source
8.1/alpine3.18/cli/Dockerfile
8.1/alpine3.18/fpm/docker-php-entrypoint
8.1/alpine3.18/fpm/docker-php-ext-configure
8.1/alpine3.18/fpm/docker-php-ext-enable
8.1/alpine3.18/fpm/docker-php-ext-install
8.1/alpine3.18/fpm/docker-php-source
8.1/alpine3.18/fpm/Dockerfile
8.1/alpine3.18/zts/docker-php-entrypoint
8.1/alpine3.18/zts/docker-php-ext-configure
8.1/alpine3.18/zts/docker-php-ext-enable
8.1/alpine3.18/zts/docker-php-ext-install
8.1/alpine3.18/zts/docker-php-source
8.1/alpine3.18/zts/Dockerfile
8.1/bookworm/apache/apache2-foreground
8.1/bookworm/apache/docker-php-entrypoint
8.1/bookworm/apache/docker-php-ext-configure
8.1/bookworm/apache/docker-php-ext-enable
8.1/bookworm/apache/docker-php-ext-install
8.1/bookworm/apache/docker-php-source
8.1/bookworm/apache/Dockerfile
8.1/bookworm/cli/docker-php-entrypoint
8.1/bookworm/cli/docker-php-ext-configure
8.1/bookworm/cli/docker-php-ext-enable
8.1/bookworm/cli/docker-php-ext-install
8.1/bookworm/cli/docker-php-source
8.1/bookworm/cli/Dockerfile
8.1/bookworm/fpm/docker-php-entrypoint
8.1/bookworm/fpm/docker-php-ext-configure
8.1/bookworm/fpm/docker-php-ext-enable
8.1/bookworm/fpm/docker-php-ext-install
8.1/bookworm/fpm/docker-php-source
8.1/bookworm/fpm/Dockerfile
8.1/bookworm/zts/docker-php-entrypoint
8.1/bookworm/zts/docker-php-ext-configure
8.1/bookworm/zts/docker-php-ext-enable
8.1/bookworm/zts/docker-php-ext-install
8.1/bookworm/zts/docker-php-source
8.1/bookworm/zts/Dockerfile
8.1/bullseye/apache/apache2-foreground
8.1/bullseye/apache/docker-php-entrypoint
8.1/bullseye/apache/docker-php-ext-configure
8.1/bullseye/apache/docker-php-ext-enable
8.1/bullseye/apache/docker-php-ext-install
8.1/bullseye/apache/docker-php-source
8.1/bullseye/apache/Dockerfile
8.1/bullseye/cli/docker-php-entrypoint
8.1/bullseye/cli/docker-php-ext-configure
8.1/bullseye/cli/docker-php-ext-enable
8.1/bullseye/cli/docker-php-ext-install
8.1/bullseye/cli/docker-php-source
8.1/bullseye/cli/Dockerfile
8.1/bullseye/fpm/docker-php-entrypoint
8.1/bullseye/fpm/docker-php-ext-configure
8.1/bullseye/fpm/docker-php-ext-enable
8.1/bullseye/fpm/docker-php-ext-install
8.1/bullseye/fpm/docker-php-source
8.1/bullseye/fpm/Dockerfile
8.1/bullseye/zts/docker-php-entrypoint
8.1/bullseye/zts/docker-php-ext-configure
8.1/bullseye/zts/docker-php-ext-enable
8.1/bullseye/zts/docker-php-ext-install
8.1/bullseye/zts/docker-php-source
8.1/bullseye/zts/Dockerfile
8.2-rc/alpine3.17/cli/docker-php-entrypoint
8.2-rc/alpine3.17/cli/docker-php-ext-configure
8.2-rc/alpine3.17/cli/docker-php-ext-enable
8.2-rc/alpine3.17/cli/docker-php-ext-install
8.2-rc/alpine3.17/cli/docker-php-source
8.2-rc/alpine3.17/cli/Dockerfile
8.2-rc/alpine3.17/fpm/docker-php-entrypoint
8.2-rc/alpine3.17/fpm/docker-php-ext-configure
8.2-rc/alpine3.17/fpm/docker-php-ext-enable
8.2-rc/alpine3.17/fpm/docker-php-ext-install
8.2-rc/alpine3.17/fpm/docker-php-source
8.2-rc/alpine3.17/fpm/Dockerfile
8.2-rc/alpine3.17/zts/docker-php-entrypoint
8.2-rc/alpine3.17/zts/docker-php-ext-configure
8.2-rc/alpine3.17/zts/docker-php-ext-enable
8.2-rc/alpine3.17/zts/docker-php-ext-install
8.2-rc/alpine3.17/zts/docker-php-source
8.2-rc/alpine3.17/zts/Dockerfile
8.2-rc/alpine3.18/cli/docker-php-entrypoint
8.2-rc/alpine3.18/cli/docker-php-ext-configure
8.2-rc/alpine3.18/cli/docker-php-ext-enable
8.2-rc/alpine3.18/cli/docker-php-ext-install
8.2-rc/alpine3.18/cli/docker-php-source
8.2-rc/alpine3.18/cli/Dockerfile
8.2-rc/alpine3.18/fpm/docker-php-entrypoint
8.2-rc/alpine3.18/fpm/docker-php-ext-configure
8.2-rc/alpine3.18/fpm/docker-php-ext-enable
8.2-rc/alpine3.18/fpm/docker-php-ext-install
8.2-rc/alpine3.18/fpm/docker-php-source
8.2-rc/alpine3.18/fpm/Dockerfile
8.2-rc/alpine3.18/zts/docker-php-entrypoint
8.2-rc/alpine3.18/zts/docker-php-ext-configure
8.2-rc/alpine3.18/zts/docker-php-ext-enable
8.2-rc/alpine3.18/zts/docker-php-ext-install
8.2-rc/alpine3.18/zts/docker-php-source
8.2-rc/alpine3.18/zts/Dockerfile
8.2-rc/bookworm/apache/apache2-foreground
8.2-rc/bookworm/apache/docker-php-entrypoint
8.2-rc/bookworm/apache/docker-php-ext-configure
8.2-rc/bookworm/apache/docker-php-ext-enable
8.2-rc/bookworm/apache/docker-php-ext-install
8.2-rc/bookworm/apache/docker-php-source
8.2-rc/bookworm/apache/Dockerfile
8.2-rc/bookworm/cli/docker-php-entrypoint
8.2-rc/bookworm/cli/docker-php-ext-configure
8.2-rc/bookworm/cli/docker-php-ext-enable
8.2-rc/bookworm/cli/docker-php-ext-install
8.2-rc/bookworm/cli/docker-php-source
8.2-rc/bookworm/cli/Dockerfile
8.2-rc/bookworm/fpm/docker-php-entrypoint
8.2-rc/bookworm/fpm/docker-php-ext-configure
8.2-rc/bookworm/fpm/docker-php-ext-enable
8.2-rc/bookworm/fpm/docker-php-ext-install
8.2-rc/bookworm/fpm/docker-php-source
8.2-rc/bookworm/fpm/Dockerfile
8.2-rc/bookworm/zts/docker-php-entrypoint
8.2-rc/bookworm/zts/docker-php-ext-configure
8.2-rc/bookworm/zts/docker-php-ext-enable
8.2-rc/bookworm/zts/docker-php-ext-install
8.2-rc/bookworm/zts/docker-php-source
8.2-rc/bookworm/zts/Dockerfile
8.2-rc/bullseye/apache/apache2-foreground
8.2-rc/bullseye/apache/docker-php-entrypoint
8.2-rc/bullseye/apache/docker-php-ext-configure
8.2-rc/bullseye/apache/docker-php-ext-enable
8.2-rc/bullseye/apache/docker-php-ext-install
8.2-rc/bullseye/apache/docker-php-source
8.2-rc/bullseye/apache/Dockerfile
8.2-rc/bullseye/cli/docker-php-entrypoint
8.2-rc/bullseye/cli/docker-php-ext-configure
8.2-rc/bullseye/cli/docker-php-ext-enable
8.2-rc/bullseye/cli/docker-php-ext-install
8.2-rc/bullseye/cli/docker-php-source
8.2-rc/bullseye/cli/Dockerfile
8.2-rc/bullseye/fpm/docker-php-entrypoint
8.2-rc/bullseye/fpm/docker-php-ext-configure
8.2-rc/bullseye/fpm/docker-php-ext-enable
8.2-rc/bullseye/fpm/docker-php-ext-install
8.2-rc/bullseye/fpm/docker-php-source
8.2-rc/bullseye/fpm/Dockerfile
8.2-rc/bullseye/zts/docker-php-entrypoint
8.2-rc/bullseye/zts/docker-php-ext-configure
8.2-rc/bullseye/zts/docker-php-ext-enable
8.2-rc/bullseye/zts/docker-php-ext-install
8.2-rc/bullseye/zts/docker-php-source
8.2-rc/bullseye/zts/Dockerfile
